BNWeb/WebContent/WEB-INF/wsdl/WSDatosCuenta.asmx.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://10.7.11.11/WSDesaDatosCuenta/WSDatosCuenta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://10.7.11.11/WSDesaDatosCuenta/WSDatosCuenta">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://10.7.11.11/WSDesaDatosCuenta/WSDatosCuenta">
      <s:element name="OperacionesDatosCuenta">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="wNroCuenta" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OperacionesDatosCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="OperacionesDatosCuentaResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OperacionesDatosCuentaSoapIn">
    <wsdl:part element="tns:OperacionesDatosCuenta" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OperacionesDatosCuentaSoapOut">
    <wsdl:part element="tns:OperacionesDatosCuentaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="WSDatosCuentaSoap">
    <wsdl:operation name="OperacionesDatosCuenta">
      <wsdl:input message="tns:OperacionesDatosCuentaSoapIn"/>
      <wsdl:output message="tns:OperacionesDatosCuentaSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDatosCuentaSoap" type="tns:WSDatosCuentaSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OperacionesDatosCuenta">
      <soap:operation soapAction="http://10.7.11.11/WSDesaDatosCuenta/WSDatosCuenta/OperacionesDatosCuenta" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDatosCuenta">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
    <wsdl:port binding="tns:WSDatosCuentaSoap" name="WSDatosCuentaSoap">
      <soap:address location="http://10.7.11.11/WSDesaDatosCuenta/WSDatosCuenta.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
